
* {  
	margin: 0;
	padding: 0;
}
:root {
	--main-backgroundMain: #000;
	--main-backgroundmenuHeader: #000;
	--main-backgroundregba: rgba(0,0,0, .8);
	--main-color: #bbb;
	--main-colorMenu: #bbb;
	--main-border-radius: 1rem;
	--main-font-family: 'Della Respira';
	--main-font-sizeParrafos: 1.3rem;
	--main-font-sizeTitulos: 1.8rem; 
	--main-color-adminHeader: #606060;  
	--main-background-adminHeader: #101010; 
	
	
}
@media(max-width:1000px){
	:root{
		--main-backgroundMain: #fafafa;
	    --main-color: #202020;
	    /* --main-colorMenu: #a1a1a1; */
	    --main-backgroundmenuHeader: #151515;
	/* } */
    }
}

@media(max-width:600px){
	:root{
	    --main-font-sizeParrafos: 1rem;
	    --main-font-sizeTitulos: 1.4rem; 
	}
}
::-webkit-scrollbar {
	width: 10px; 
	height: 1px;
}
::-webkit-scrollvar-track{
	background: #101010;
}
::-webkit-scrollbar-thumb {
	background: #303030;
	border-radius: 10px;
	width: 10px;
}
body {
	background: var(--main-backgroundMain);

}
html{
	scroll-behavior: smooth;
}
header {
    width: 100%;
}
#preloader{  
	display: flex;
	justify-content: center;
    align-items: center;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
}   #preloader img {
	    animation: rotarloader 3s infinite linear;
    }
	@keyframes rotarloader {
		from{transform: rotate(0deg)}
		to{transform: rotate(360deg)}
	}
#imgSlider {
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	filter: grayscale(0%);
	box-shadow: 40px 50px 200px #000 inset;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.imgagenesSlider {
	background: #303030;
	height: 100%;
}   .imgagenesSlider:nth-child(4){display: none;}
.afterimgSlider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}
.itemImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width:600px){
	#imgSlider{
	grid-template-columns: repeat(2, 1fr);
	}
	.imgagenesSlider:nth-child(4){
		display: block;
	}
	
}
.contenedorSlider {
	position: absolute;
	top: 1%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: 1.5s;
	border-bottom: 1px solid #202020;
	/* background: var(--main-backgroundmenuHeader); */
}
.items {
	list-style: none;
	font-size: 1.5rem;
	text-shadow: 2px 2px 2px #000;
	transition: .5s;
	font-family: var(--main-font-family);
	box-shadow: 0px 0px 5px #000;
	border-style: solid;
	border-width: 1px;
	border-color: #000 #101010 #101010 #050505;
	box-shadow: 0px 0px 5px #000;
	/* background: var(--main-backgroundregba);	 */
	transition: 0.5s;
	
}
.textoLogoHome {font-size: 1.5rem}
.items li{
	padding: 1rem;
	transition: .7s;
} 
.contenedorSlider .items li:after {
	content: "";
	height: 2px;
	width: 0;
	display: block;
	background: linear-gradient(to left, #000, #200, #500, #f00, #a00, #500, #200, #000);	
	bottom: 0;
	left: 50%;
	position: absolute;
	transition: .6s;
	 
}
.contenedorSlider .items li:hover:after{
	left: 0;
	width: 100%;
}
.items li a{
	text-decoration: none;
	color: var(--main-colorMenu);
}
.items:first-child, .items:last-child {
	position: absolute;
	top: 0;
	border-style: none;
	border-width: none;
	border-color: none;
}
.items:first-child{
	opacity: 0;
}
.items:first-child li a, .items:last-child li a{
	color: #404040;	
	font-size: 3rem;
}
.items:first-child{left: 0;}
.items:last-child{right: 0;}
.items:nth-child(2){
	transform: translate(0%, -160%);
}
.items:nth-child(3){
	transform: translate(0%, -80%);
	}
.items:nth-child(5){
	transform: translate(0%, 80%);
	}
.items:nth-child(6){
	transform: translate(0%, 160%);
	}
.items li:hover{
	padding: 1.2rem 1rem;
}
.h1Main {
	font-size: 4rem;
	color: var(--main-colorMenu);
	text-shadow: 2px 2px 2px #000;
	padding: 1rem;
	font-family: var(--main-font-family);
	text-align: center;
	border: 1px solid #101010;
	border-style: inset;
	border-color: none;
	box-shadow: 0px 0px 5px #000;
	/* background: var(--main-backgroundregba); */
	transition: 0.5s;
}
.h1Main:hover {
	transform:scale(0.99);
}
@media (max-width: 700px){
    .h1Main {
	padding: 2rem;
	font-size: 3rem;
	}
}
.h1Main span:nth-child(even){
	color: #ff0000;
}
.fraseHome {
	width: 100%;
	background: url('../Imagenes/Fondos/img3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 1rem 0;
	animation: fondo 10s infinite linear;
	transition: 0.7s;
}
@keyframes fondo{
	from{background-position:0 100%}
	to{background-position: 0 0%}
}
@media (max-width: 400px) {
	.fraseHome {
	width: 100%;
	background: url('../Imagenes/Fondos/media/img3.jpg');	
}
}
.frasehomeP{
	width: 100%;
	padding: 2rem 0;
	position: relative;
	font-size: var(--main-font-sizeParrafos);
	font-family: var(--main-font-family);
	text-align: center;
	font-weight: bold;
	color: #ddd;
	background: rgba(0, 0, 0, .7);
	overflow: hidden;
	transition: 0.5s;
}
.frasehomeP i{
	transition: 0.8s;
	}
.frasehomeP i{
	color: transparent;
}
/*contenidos generales*/
.contenidos, .contenidoSobreMi {
	display: grid;
	grid-template-columns: repeat(8,1fr);
	row-gap: 4rem;
	column-gap: .5rem;
}	
.contenidoSobreMi{
	row-gap: 2rem;
	margin: 4rem 0 0 0;
}
.contenidoMain, .contenidoSobreMiItem {
	transition: 0.5s;
}
.contenidoMain:nth-child(1){
	grid-column: 1/7;
	background: url('../Imagenes/Fondos/img2.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.contenidoMain:nth-child(3){
	grid-column: 2/8;
	background: url('../Imagenes/Fondos/img2.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 120px;
}
.contenidoMain:nth-child(5){
	grid-column: 3/9;
	background: url('../Imagenes/Fondos/img2.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.contenidoMain:nth-child(2){
	grid-column: 7/9;
}
.contenidoMain:nth-child(4){
	grid-column: 1/3;
}
.contenidoSobreMiItem:nth-child(1), .contenidoSobreMiItem:nth-child(2),
.contenidoSobreMiItem:nth-child(4), .contenidoSobreMiItem:nth-child(5){
	background: url('../Imagenes/Fondos/img9.jpg');
	background-size: cover;
	background-attachment: fixed;	
}
.contenidoSobreMiItem:nth-child(1){
	grid-column: 3/9;		
	height: 150px;
	transition: .6s;
}
.contenidoSobreMiItem:nth-child(2){
	grid-column: 2/4;		
}
.contenidoSobreMiItem:nth-child(3){
	grid-column: 4/6;
}
.contenidoSobreMiItem:nth-child(4){
	grid-column: 6/8;			
}
.contenidoSobreMiItem:nth-child(5){
	grid-column:1/7;			
	height: 150px;		
}
.titulos, .galeriasH {
	font-size: var(--main-font-sizeTitulos);
	font-family: var(--main-font-family);
	padding: 1rem;
	line-height: 1rem;
	text-align: center;
	font-weight: bold;
	color: var(--main-color);
}
.titulos, .parrafos{
	background: var(--main-backgroundMain);
	z-index: 5;
	position: relative;
}
/* parrafos */
.parrafos {
	font-size: var(--main-font-sizeParrafos);
	font-family: var(--main-font-family);
	padding: 1rem;
	line-height: 2rem;
	text-align: center;
	/* font-weight: bold; */
	color: var(--main-color);
}
.afterContenedores{
	position: relative;
	background: linear-gradient(to bottom left, #151515, #000, #000, #000 , #000, #151515);
	padding: .2rem;
	z-index: 1;
}

.afterContenedores:after, .afterContenedores:before {
		content: "";
		position: absolute;
		display: block;
		/* background: #ff0000;		
	    background: url('../Imagenes/Fondos/img2.jpg');
	    background-size: cover;
	    background-attachment: fixed; */ 
		transition: 1s;

		z-index: 1;

}
.afterContenedores:after{
		width: 0;
		height: 3px;
		top: 0;
		right: 0;
		background: linear-gradient(to bottom left,#000, #200, #500, #f00, #000, #a00, #500, #200, #000);
}
.afterContenedores:before{
		width: 3px;
		height: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom left,#000, #200, #500, #f00, #000, #a00, #500, #200, #000);
} 

.afterContenedores:hover:after {
		width: 100%;
		height: 100%; 
}
.afterContenedores:hover:before {
		height: 100%;
		width: 100%;
}
@keyframes opacidad {
	from{opacity: 1}
	to{opacity: 0}
}
/* Contacto */
.contacto {
	margin: 4rem 0 0 0;
	display: grid;
	grid-template-columns: 70% 30%;
	transition: 0.8s;
	row-gap: .5rem;
}
.contactoItem:nth-child(1){
	overflow: hidden;
	background: #000;
}
.contactoItem img{
	object-fit: cover;
	width: 100%;
	animation: mover 30s infinite linear;
}
@keyframes mover{
	0%{transform: scale(0.5)}
	50%{transform: scale(1.3)}
	100%{transform: scale(0.5)}
}
.contactoItem form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* padding: 0 1rem; */
	height: 100%;
	background: var(--main-backgroundMain);
}
.contactoItem form input, .contactoItem form textarea,
.menuLogin form input{
	padding: .6rem;
	border: none;
	outline: none;
	margin-top: 1rem;
	border-radius: .3rem;
	width: 100%;
	font-size: var(--main-font-sizeParrafos);
	font-family: var(--main-font-family);
	background: #aaa;
	color: #000;
	text-align: center;
	transition: .2s; 
	position: relative;
}

.contactoItem form input:hover, .contactoItem form textarea:hover,
.menuLogin form input:hover {
	transform: scale(1.02);
}
.contactoItem form input::placeholder,
.menuLogin form input::placeholder{
	text-align: center;
	color: #101010;
}
.contactoItem form input:focus, .contactoItem form textarea:focus,
.menuLogin form input:focus {
	border: 3px solid #00aaff;
	background: #fff;
}
.botones {
	background: #000;
	color: #aaa;
	border: 3px solid #151515;
	outline: none;
	padding: 1rem 2rem;
	margin: 1rem 0 .5rem 0;
	border-radius: .3rem;
	font-size: var(--main-font-sizeParrafos);
	font-family: var(--main-font-family);
	text-align: center;
	transition: .5s; 
	position: relative;
	z-index: 5;
}
.botones:after, .botones:before {
	content: "";
	display: block; 
	transition: 1s;
	z-index: 1;
}
.botones:after {
		content: "";
		display: block;
		width: 0;
		height: 3px;
		bottom: 0;
		left: 50%;
		position: absolute;
		background: linear-gradient(to left, #000, #200, #500, #f00, #a00, #500, #200, #000);
		transition: 1s;
} 
.botones:hover:after {
		width: 100%;
		left: 0;
	
}

#mensajesFormulario,#mensajesFormularioLogin, #mensajeBienvenida{
	font-size: var(--main-font-sizeParrafos);
	font-family: var(--main-font-family);
	border-radius: .3rem;
	color: #fff;
	text-align: center;
	
}
#mensajesFormularioGrave {
	color: #ff0000;
	font-size: 3rem;
}
#mensajeExitoso {
	font-size: 2rem;
	color: #00ff00;	
	text-align: center;
}
.error {
	padding: .3rem;
	background: #ff0000;
	text-align: center;
}
.EnvioExitoso{
	padding: .5rem;
	background: #00ff00;
	color: #303030;
	text-align: center;
	
}
/* login */
.menuLogin {
	position: fixed;
	width: 400px;
	background: #000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 15px #303030;
	top: -100%;
	right: 0;
	border-radius: .3rem;
	transition: 1s;
	z-index: 40;
}
.menuLogin form, .menuLogout{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
	padding: 1rem 2rem ;
}
.menuLogout {
	display:none;
}  
.menuLogin form p{
	font-size: var(--main-font-sizeParrafos);
	color: var(--main-colorMenu);
	width: 100%;
}
.tituloLogin {
	width: 100%;
	color: var(--main-colorMenu);
	font-family: var(--main-font-family);
	font-size: var(--main-font-sizeTitulos);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 .4rem 0;
	border-bottom: 3px solid #aa0000;
}
.iconUser {
	font-size: 2rem;
	padding: 0 1rem;
}
.cerrarLogin{
	width: 100%;
	padding: 2rem 0 1rem 0;
	font-size: var(--main-font-sizeParrafos);
	color: var(--main-colorMenu);
	outline: none;
	border: none;
	background: none;
}
.enlaceDescargar {
	text-decoration: none;
	color: #fff; 
	display: block; 
	background: linear-gradient(to bottom right, #ff0000,#aa0000); 
	border-radius: 1rem; 
	padding: 1rem; 
	width: 100px;
	margin: auto;
	margin-top: 1rem;
	
}
/* contenido 360 */
.c360 {
	margin: 4rem 0 0 0; 
	display: grid;
	grid-template-columns: 70% 30%;
	column-gap: .5rem;
}
#Imagen360 {
	width: 100%;
	height: 500px; 
}

.c360Item:nth-child(2){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.logo360 {
	font-size:24px;
	color: #ff5500;
	border:1px solid #fff;
	border-radius: 50%;
	animation: rotar 5s infinite;
}
@keyframes rotar {
	from{transform:rotateY(0deg)}
    to{transform:rotateY(360deg)}
}
.c360, .contenidoSobreMi, .contacto, .contenidos{
	padding: 0 1rem;
}
/*book*/
.contenedorBook {
	padding: 4rem 0 2rem 0; 
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 35% 1fr;																	;
}
.booksContainer {
	position: relative;
	padding: 0 0 2rem 0;
	height: auto;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
 .tituloParrafo {
	height: 100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
table {
	color:#fff;
	margin: 8px auto;
	border: 2px solid #303030 ;
}
th {
	padding:15px;
	background: linear-gradient(#404040,#000);
	font-size:18px;
	color: #B1B1B1;
	border-bottom: 1px solid #505050;
}
td {
	color: #909090;
	padding:5px;
	font-size:18px;
	background: linear-gradient(#202020,#000);
	text-align:center;
}
@media (max-width:500px) {
	th, td {
		font-size:14px;
	}
}
.navegacionBooks {
    padding: 1rem 0;
	position: absolute;
	bottom: 2rem;
}
.navegacionBooks ul{
	list-style: none;
	padding: 5px 10px 5px 10px;
}
.navegacionBooks ul li {
	display: inline-block;
	padding: .5rem;
	color: var(--main-color);
	background: var(--main-backgroundMain);
	border:2px solid #303030;
}
.navegacionBooks ul li:hover {
	color: #a1a1a1;
}
.activeBook{
	filter:invert(1) sepia(100%) hue-rotate(180deg);
}
@media (max-width:1024px) {
	.navegacionBooks {
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
/*Footer*/

footer{
	width:100%;
	margin: auto;
	margin-top: 1rem;
	color: var(--main-color);
	color: #909090;
	background: var(--main-backgroundmenuHeader);
	font-size:18px;
	text-align: center;
	font-style: italic;
	z-index:5;
	padding: 1rem 0 0 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
@media (max-width:768px){
	footer {
		font-size:14px;
	}
}
.contenedorRedes{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: row;
}
.contenedorRedes a{
	text-decoration: none;
}
.contenedorRedes a img{
	padding: 1rem;
	transition: 0.5s;
}
.contenedorRedes a img:hover{
		transform: scale(1.2) rotate(5deg);
	}
.por {
	font-size:10px;
}


/*ir arriba*/
#irArriba{
	position: fixed;
	opacity: 0;
	bottom: 50px;
	right: 50px;
    z-index: 50;
	transition: 1s;
}
.irArriba i{
	color: #fff;
	background: #400000;
	font-size: 2rem;
	padding: 0.5rem 1rem;
	border-radius: 50%;
	z-index: 50;
	transition: .7s;
	border: 1px solid #ddd;
}
.irArriba i:hover{
	transform: scale(1.3);
}	

/*clases para scroll*/

.contenidoScroll, .scrollRight {
	opacity: 0;
}
.position {
	animation: transladar 0.5s;
	transition: 1.5s;
	opacity: 1;
}
@keyframes transladar {
	from{transform: translateX(-800px)}
	to{transform: translateX(0)}
}
.positionright {
	animation: transladarright 0.5s;
	transition: 1.5s;
	opacity: 1;
}
@keyframes transladarright {
	from{transform: translateX(800px)}
	to{transform: translateX(0)}
}
.positionMenu{  
	opacity: 0;
	height: 0;
}
/*Estilos active para navegacion con Js*/
.activeMain {
	border-bottom: 2px solid #808080;
	color: #fff;
}
#menuGalerias ul li.active {
	background: rgba(255,255,255,0.3);
	color: #fff;
	border-bottom: 1px solid #fff;
}
.menu1 ul li a.active2  {
		border-bottom:2px solid #808080;
		color:#d1d1d1;
        border-radius:0px;
		
}
/*solo responsive*/
@media (max-width:1000px){
	.h1Main {
	font-size: 3rem;
	}	
}
@media (max-width:1000px){
	
	.contenedorSlider {
		height: 100%;
		flex-direction: column;
	}
	.h1Main {
	font-size: 2rem;
	}
	.items li {
		padding: 0;
	}
    .items:nth-child(2), .items:nth-child(3), .items:nth-child(5), .items:nth-child(6){
	    transform: translate(0%, 0%);
    }
    .items:nth-child(3), .items:nth-child(5){
     	padding: 1rem 2rem;
	}
	.contenidos, .contenidoSobreMi {
	margin-top: 2rem;
	row-gap: 1rem;
	}
	.contenidoSobreMiItem:nth-child(1), .contenidoSobreMiItem:nth-child(2),
	.contenidoSobreMiItem:nth-child(4), .contenidoSobreMiItem:nth-child(5){
	    grid-column: 1/9;	
        height: 9rem;		
	    background: url('../Imagenes/Fondos/img1.jpeg');
	    background-size: cover;
	    background-attachment: fixed;
        background-position: 60% 0;		
	}
	.contenidoSobreMiItem:nth-child(2),	.contenidoSobreMiItem:nth-child(4){	
        height: 4rem;			
	}
	.contenidoSobreMiItem:nth-child(2){
		grid-column: 2/8;		
	}	
	.contenidoSobreMiItem:nth-child(3){
		grid-column: 1/9;
	}
	.contenidoSobreMiItem:nth-child(4){
		grid-column: 2/8;				
	}	
	.contenidoSobreMiItem:nth-child(5){
		grid-column: 1/9;				
	}
	
	/* main */
	.contenidoMain:nth-child(1), .contenidoMain:nth-child(3), .contenidoMain:nth-child(5){
		height: 6rem;	
        background-position: 30% 0%;		
	}
	.contenidoMain:nth-child(1), .contenidoMain:nth-child(5){
	    grid-column: 1/9;
	}
	.contenidoMain:nth-child(3){
	    grid-column: 2/8;
	}
	/* parafos */
	.contenidoMain:nth-child(2), .contenidoMain:nth-child(4){
	    grid-column: 1/9;
	}
	
	.contenedorBook{
	    grid-template-columns: 1fr;
		padding: 5rem 0 2rem 0;
		height: auto;
	}
	.c360 {
		grid-template-columns: 1fr;
		row-gap: .5rem;
	}
	.afterContenedores{
	position: relative;
	background: linear-gradient(to bottom left, #ccc, #fafafa, #fafafa,#fafafa, #fafafa , #fafafa, #ccc);
	padding: .2rem;
    }
	.contacto {
		grid-template-columns: 1fr;		
	}
	.contactoItem form {
		width: 70%;
		margin: auto;
	}
    .contactoItem form input:hover, .contactoItem form textarea:hover {
	    filter: none;
    }
	.titulos{
		background: var(--main-backgroundMain);
    }
	.navegacionBooks{
		bottom: -3rem;
	}
}
@media (max-width:800px){
	body {
	    cursor: auto;
	}
	.irArriba i{
	right: 10px;
	padding: 0.2rem 0.6rem;
	}
	.navegacionBooks{
		bottom: -3rem;
	}
}
@media (max-width:500px){
	.contactoItem form {
		width: 100%;
	}
}
@media (max-width: 400px){
	.h1Main {
	font-size: 1.5rem;
	}
	.contenedorBook {
		height: auto;
	    padding: 6.5rem 0 2rem 0; 
	}
	.irArriba {
	right: 0px;
	
	}
	.menuLogin {
		width: 100%;
	}  
}

/*nueva posicion para scroll cero*/
.contenedorSliderScroll {
	position: fixed;
	width: 100%;
	height: auto;
	background: var(--main-backgroundmenuHeader);
	top: 0;
	left: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 1rem 0 0 0;
	transition: 1.5s;	
}
.contenedorSliderScroll .items{
	transform: translate(0%, 0%);
	font-size: 1rem;
	box-shadow: none;
	border-style: none;
	border-width: none;
	box-shadow: none;
	text-shadow: none;
	transition: .2s;
	background: none;
}
.textoLogoHome {font-size: 1.5rem}
.contenedorSliderScroll .items li{
	padding: 2rem 2rem;	
	transition: .5s;
	position: relative;
}
.contenedorSliderScroll .items li a{
	text-decoration: none;
	color: var(--main-colorMenu);
}
.contenedorSliderScroll .items:first-child, .contenedorSliderScroll .items:last-child {
	padding: .9rem 0;
	opacity: 1;
}
.contenedorSliderScroll .items:first-child li a{
	font-size: 1rem;
	color: #505050;
}
.contenedorSliderScroll .items:last-child li a{
	font-size: 1.5rem;
	color: #505050;
}  
.contenedorSliderScroll .items:last-child li p{
	justify-content: center;
	align-items: center;
	font-size: .8rem;
	color: #505050;
}    .nombreUsuariomenu{display: none}
.contenedorSliderScroll .items:last-child li p i{
    padding: 0 .5rem;
	margin: 0 .5rem;
	border-right: 1px solid #505050;
	font-size: 1rem;	
}
.contenedorSliderScroll .h1Main {
	font-size: 1.3rem;
	padding: 0 1rem;
	border: none;
	border-style: none;
	border-color: none;
	box-shadow: none;
	text-shadow: none;
	background: none;
}
.contenedorSliderScroll .h1Main:hover {
	transform:scale(0.99);
}

@media (max-width:1000px){
	/* .contenedorSliderScroll .items li{} */
	.contenedorSliderScroll .items:first-child li, .contenedorSliderScroll .items:last-child li{
	    padding: .3rem 1rem;
		top: 0;
    }
}
@media (max-width:700px){
	.contenedorSliderScroll{
		display: flex;
		justify-content: space-around;
		padding: 3rem 0 0 0;
	}
	.contenedorSliderScroll .h1Main{
		position: absolute;
		left: 0;
		top: 0;
	    padding: 0.5rem;
	}
    .contenedorSliderScroll .items li{
	padding: 1rem 0rem;	
	transition: 0.5s;
    }
	.contenedorSliderScroll .items:last-child{
		top: 0;
	    padding: .5rem .4rem; 
	}
	.contenedorSliderScroll .items:first-child {
	position: static;
	padding: 0rem ;
    }
	.contenedorSliderScroll .items:first-child li{
	padding: 1rem 0rem;	
		
	}
	
}
@media (max-width:500px){
	.contenedorSliderScroll{
		justify-content: ;
		padding: 3.5rem 0 0 0;
	}
	.contenedorSliderScroll .h1Main {
	font-size: 1rem;
	}
	.items:nth-child(3), .items:nth-child(5){
     	padding: 0;
	}
    .contenedorSliderScroll .items li, .contenedorSliderScroll .items:first-child li{
	padding: 0rem 0rem 1rem 0;	
	transition: 0.5s;
    }
	.contenedorSliderScroll .items li:hover:after{
	left: 0;
	width: 0;
	filter: none;
}
	.contenedorSliderScroll .items, .textoLogoHome {
	font-size: .9rem;
	}
	.contenedorSliderScroll .items:first-child li a{
		font-size:rem;
	}
	#textoInicio{display: none}
	.contenedorSliderScroll .items:last-child li a{
		font-size:1.5rem;
	}
}
