:root {
//  --main-backgroundMain: #000;
  --main-backgroundmenuHeader: #000;
  --main-backgroundregba: rgba(0,0,0, .8);
  --main-color: #bbb;
  --main-colorMenu: #bbb;
  --main-font-family: 'Della Respira';
  --main-font-sizeTitulos: 1.8rem;

    --white-color: #bbb;
    --black-color: #000;
    --light-color: #fd0038;
    --light-color: #f90017;

    --font-s-small: .8rem;
    --font-s-medium: 1rem;
    --font-s-large: 1.3rem;
    --font-s-extraLarge: 5rem;
}

@media (max-width: 1000px) {
  :root {
    --main-backgroundMain: #fafafa;
    --main-color: #202020;
    --black-color: #fafafa;
    --white-color: #202020;
    --main-backgroundmenuHeader: #151515;
    }
}
@media(max-width:750px){
    :root{
        --font-s-extraLarge: 3rem; 
    }
}
@media (max-width: 600px) {
  :root {
    --main-font-sizeTitulos: 1.4rem; 
    }
}

@mixin flexCenterCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin flexAroundCol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
@mixin flexBetweenCol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
@mixin flexCenterRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
@mixin flexAroundRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
@mixin flexBetweebRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
@mixin input {
    width: 100%;
    padding: .8rem;
    border-radius: .7rem;
    margin: .3rem;
    background: none;
    outline: none;
    border: 1px solid #aaaaaa;
    transition: .5s;
    font-size: var(--font-s-medium);
    color: var(--white-color);
    &:focus, &:hover{
	border-bottom: 1px solid var(--light-color);
    }
    @media (max-width: 550px){
        width: 90%; 
    }

}
@mixin button {
    padding: 1.5rem;
    background: var(--white-color);
    color: var(--black-color);
    outline: none;
    border-radius: .5rem;
    border: none;
    font-weight: bold;
    font-size: var(--font-s-medium);
    &:hover, &:focus {
        border:2px solid var(--light-color);
    }
}
@import 'src/menu', 'src/mainBanner', 'src/contenidosHome';



.button {
    @include button;
}
.scrollRight{
    position: relative;
    color: #0f0;
    transition: 1s;
}



.position {
	animation: transladar 3s;
	transition: 1.5s;
	opacity: 1;
}
@keyframes transladar {
	from{transform: translateX(-800px)}
	to{transform: translateX(0)}
}
.positionright {
	animation: transladarright 0.5s;
	transition: 1.5s;
	opacity: 1;
}
@keyframes transladarright {
	from{transform: translateX(800px)}
	to{transform: translateX(0)}
}
.light-c{
    // color: var(--black-color);
    // text-shadow: .1rem .3rem .2rem var(--white-color);
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
